/* CSS Document */
body
{
background-color:rgb(169,204,227);
}
.columna1
{
background-color:rgb(220,118,51);
} 
.columna1
{
background-color:rgb(220,118,51);
} 
.columna2
{
background-color:rgb(220,152,102);
} 
.goo
{
width:20px;
}
.goo
{
width:20px;
}
div
{
border:none;
}
.columna3
{
background-color:rgb(205,97,85);
}
.columna4
{
background-color:rgb(236,112,99);
}
.buscar1
{
border-radius:20px;
background-color:rgb(235,222,240);
}
.im1
{
width:500px;
}
.im2
{
width:500px;
}
.im3
{
width:500px;
}
.im4
{
width:500px;
}
.im5
{
width:500px;
}
.im6
{
width:500px;
}
.tortas
{
width:50%;
}
.tamales
{
width:50%;
}